---
---
body {
    background-color: slategray;
    margin: 50px 0;
}
.first-row {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 7px 7px 7px;
    margin-top: 50px;
}
.flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}